.service_item{
    padding: 20px;
    background: var(--card-bg-01);
    display: flex;
    align-items: center;
    column-gap: .7rem;
    border-radius: 10px;
    cursor: pointer;
}
.service_item span{
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 300;
    padding: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.service_item h3{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
}
.service_item p{
    font-size: .8rem;
    color: var(--heading-text-color);
    font-weight: 400;
    margin-top: 5px;
}